*{
    margin:0 0 0 0;
    
  }
  body{
      min-height:100vh;
      background-color: rgb(26, 26, 26);
      /* background:linear-gradient(145deg,black,black,rgb(1, 29, 1),rgb(2, 94, 2),rgb(4, 116, 4),rgb(5, 85, 5),rgb(3, 58, 3),black); */
      color:rgb(3, 83, 3);
      padding: 3vw;
  }
  #keyboard{
      position: relative;
      margin-bottom: 5vh;
      
  }
  #display{
      width: 50%;
      min-height:20vh;
      margin:auto;
      padding: 3vw;
      background-color: rgb(0, 30, 56);
      color:white;
      border: rgb(1, 28, 1) 5px solid;
      border-radius: 2vw;
      border-bottom-width: 6px;
      font-family: "Space Mono", monospace;
      font-weight: 800;
  }
  #display pre{
      
      font-weight: 800;
  }
  #fontSubmit{
    height: 8%;
    border-radius: 0px;
    box-shadow: none;
    margin:0 0 0 0;
    font-size: 1vw;
    background-color: rgb(60, 60, 60);
    border-style: solid;
    border-width: 2px;
    border-bottom-color: black;
    border-right-color: black;
    border-top-color: rgb(60, 60, 60);
    border-left-color: rgb(60, 60, 60);
    
  }
  
  #input{
    background-color: rgb(28, 28, 28);
    border-style: solid;
    border-width: 2px;
    border-top-color: black;
    border-left-color: black;
    border-bottom-color: rgb(60, 60, 60);
    border-right-color: rgb(60, 60, 60);
  }

  button{
      position: relative;
      background-color: rgb(11, 163, 11);
      border-style:solid;
      border-width:1px;
      border-radius: 0.8vw;
      width:76%w;
      height: 10vh;
      font-size: 1.4vw;
      color: white;
      box-shadow: -0.1em -0.1em 0.28em black,0.3em 0.3em 0.5em rgba(7, 241, 7, 0.644),0.1em 0.1em 0.2em black, -0.3em -0.3em 0.5em rgba(2, 243, 2, 0.918);
  }
  button:hover{
    background-color: rgb(5, 223, 5);
  }
  #row1{
      display: grid;
      grid-template-columns: repeat(16,1fr);
      grid-gap: 4px;
  }
  #row2{
      display: grid;
      grid-template-columns: repeat(13,1fr) 2fr 1fr;
      grid-gap:4px;
      margin-top: 0.4vw;
  }
  #row3{
      display: grid;
      grid-template-columns:1.9fr repeat(12,1fr) 1.3fr 1fr;
      grid-gap:4px;
      margin-top: 00.4vw;
  }
  #row4{
      display: grid;
      grid-template-columns:1.4fr repeat(12,1fr) 1.5fr 1fr;
      grid-gap:4px;
      margin-top: 00.4vw;
  }
  #row5{
      display: grid;
      grid-template-columns:2fr repeat(10,1fr) 2fr 1fr 1fr;
      grid-gap:4px;
      margin-top: 00.4vw;
  }
  #row6{
      display: grid;
      grid-template-columns:repeat(4,1fr) 5.7fr repeat(6,1fr);
      grid-gap:4px;
      margin-top: 00.4vw;
  }
  @media (max-width: 580px){
      button{
        position:relative;
        height: 6vh;
        font-size:0.1em;
      }
      body{
        padding:0vw;
      }
    }
    @media (max-width:450px){
      button{
        font-size:0.3em;
        height:6.5vh;
        padding:0px;
      }
      #fontSubmit{
        height: 3vh;
        width: 15vw;
        font-size: 3vw;
      }

      #form{
        margin-bottom: 4vh;
      }
      #display{
        width:80vw;
        height:40vh;
      }
      #keyboard{
        width:98vw;
        margin-bottom:0;
      }
      body{
        padding:0vw;
        display:flex;
        flex-direction:column-reverse;
      }
      #row1{grid-gap:2px;}
      #row2{grid-gap:2px;}
      #row3{grid-gap:2px;}
      #row4{grid-gap:2px;}
      #row5{grid-gap:2px;}
      #row6{grid-gap:2px;}
      
    }
    ::-webkit-scrollbar {
      width: 1vw;
    }
    
    /* Track */
     ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      background: black ;
  }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: linear-gradient(90deg,rgb(0, 253, 0),rgb(11, 163, 11),rgb(11, 163, 11),rgb(11, 163, 11),black) ;
      border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #b30000; 
    }